.content{
    padding: 25px 100px 0px 100px;
}
.card{
    height: 500px;
    border: .5px solid rgba(0,0,0,.2);
    text-align: center;
    
}
.body-height{
    height: calc(100vh - 60px);
}

.botao{
    background-color: DarkGreen;
    color: white;
    width: 40%;
    transform: translate(162px, 238px);
}